:root {
  // typography
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --font-size-base: clamp(1rem, 1vw + 0.75rem, 1.0625rem); // 16px to 17px
  --font-size-sm: clamp(0.875rem, 0.5vw + 0.75rem, 0.9375rem); // 14px to 15px
  --font-size-md: clamp(1.0625rem, 1.5vw + 0.75rem, 1.125rem); // 17px to 18px
  --font-size-lg: clamp(1.125rem, 2vw + 0.75rem, 1.25rem); // 18px to 20px
  --font-size-1-125xl: clamp(1.125rem, 2vw + 0.5rem, 1.25rem);
  --font-size-xl: clamp(1.25rem, 2.5vw + 0.5rem, 1.5rem);
  --font-size-1-25xl: clamp(1.375rem, 3vw + 0.5rem, 1.625rem);
  --font-size-1-5xl: clamp(1.5rem, 3.5vw + 0.5rem, 1.75rem);
  --font-size-2xl: clamp(1.75rem, 4vw + 0.5rem, 2rem);
  --font-size-3xl: clamp(2rem, 5vw + 0.5rem, 2.5rem);
  --font-size-4xl: clamp(2.25rem, 6vw + 0.5rem, 3rem);
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}
