@use "../abstracts/mixins";

// layout / container

.container {
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;
  padding: 0 var(--spacing-lg);

  @include mixins.media-down("md") {
    padding: 0 var(--spacing-md);
  }

  @include mixins.media-down("sm") {
    padding: 0 var(--spacing-md);
  }
}

.container--fluid {
  max-width: 100%;
}

.container--narrow {
  max-width: 800px;
}

.container--wide {
  max-width: 1400px;
}

section {
  position: relative;

  @include mixins.contain-layout(layout);
}
