@use "sass:map";
$breakpoints: (
  "xs": 320px,
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "2xl": 1400px,
);

@mixin media($size) {
  $breakpoint: map.get($breakpoints, $size);

  @media (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin media-down($size) {
  $breakpoint: map.get($breakpoints, $size);

  @media (max-width: #{$breakpoint - 1px}) {
    @content;
  }
}

@mixin media-between($start, $end) {
  $start-breakpoint: map.get($breakpoints, $start);
  $end-breakpoint: map.get($breakpoints, $end);

  @media (min-width: #{$start-breakpoint}) and (max-width: #{$end-breakpoint - 1px}) {
    @content;
  }
}
